* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "colfax-web", sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: "totalblack-variable", sans-serif;
    font-variation-settings: "wght" 500;
}

h2, a {
    font-weight: 300;
    color: #ECF1FE;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.color {
    color: #7796E4;
}

section {
    background-color: #17223B;
    transition: all 300ms ease;
}

button {
    cursor: pointer;
}

input {
    width: 100%;
    background-color: #17223B;
    color: #ECF1FE;
    outline: none;
    border: 1px solid #ECF1FE;
    border-radius: 25px;
    height: 72px;
    line-height: 40px;
    transition: all 300ms ease;
    padding: 0 16px 0 24px;
    font-size: 24px;
}

input:hover {
    border-color: #7796E4;
}

input:focus {
    border-color: #00E7F0;
}

.button {
    background-color: #ECF1FE;
    color: #17223B;
    padding: 12px 40px;
    border-radius: 25px;
}

/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 50px;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#logo {
    width: 40px;
    height: 40px;
    padding-right: 8px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-text {
    font-family: "totalblack-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-size: 32px;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 24px;
}

.nav__link--anchor {
    font-size: 16px;
    transition: all 300ms ease;
}

.nav__link--anchor:hover {
    font-size: 18px;
    color: #00E7F0;
}

/* LANDING */
#landing {
    min-height: 100vh;
}

.header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    text-align: center;
    max-width: 900px;
}

.heading {
    margin-bottom: 32px;
    font-size: 64px;
}

.tagline {
    margin-bottom: 40px;
    font-size: 40px;
}

.input__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    position: relative;
}

.search__btn {
    background-color: #ECF1FE;
    border: none;
    transition: all 300ms ease;
    margin-left: 48px;
    width: 200px;
}

.search__btn:hover {
    background-color: #00E7F0;
    box-shadow: 0 5px 80px 0 #00e8f03b;
}

/* SEARCH PAGE */

#search__landing {
    height: 326px;
}

.search__wrapper {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 20px 16px;
    font-size: 32px;
    color: #7796E4;
    transition: all 300ms ease;
}

.search__wrapper:hover {
    color: #00E7F0;
}

#search__films {
    background-color: #ECF1FE;
    height: 100vh;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background-color: #7796E4;
}

.search__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 48px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
}

.subtitle, .search__text {
    color: #17223B;
    font-weight: 400;
}

.range__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.year__range {
    color: #3A5CAB;
    font-size: 24px;
    padding-bottom: 16px;
}

.slider__container {
    width: 100%;
    height: 8px;
    background-color: #818dad;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
}

.slider__btn--wrapper {
    height: 36px;
    width: 36px;
    position: absolute;
    top: -4px;
    text-align: center;
    user-select: none;
    line-height: normal;
    z-index: 5;
}

.left__btn {
    left: 0px;
}

.right__btn {
    right: 0px;
}

.slider__btn {
    width: 16px;
    height: 16px;
    background-color: #ECF1FE;
    user-select: none;
    border: 2px solid #3A5CAB;
    border-radius: 50%;
    transition: all 300ms ease;
}

.slider__bar {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: #3A5CAB;
    position: absolute;
    z-index: 2;
}

.slider__btn:hover{
    cursor: grab;
    transform: scale(1.2);
}

.slider__range {
    padding-top: 16px;
    color: #818dad;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.films__row {
    flex-wrap: wrap;
}

.film__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0 16px 16px 16px;
}

.film__poster {
    margin-bottom: 8px;
    border-radius: 25px;
    overflow: hidden;
}

.film__poster--img {
    width: auto;
    height: auto;
    transition: all 300ms ease;
}

.film__content--extra-info {
    opacity: 0;
    transform: translateY(-120px);
    transition: all 300ms ease;   
}
.film__poster--img:hover {
    transform: scale(1.03);
}

.film__wrapper:hover
.film__content--extra-info {
    opacity: 1;
    transform: translateY(0px);   
}

.film__content {
    margin-top: 8px;
    width: 100%;
    color: #17223B;
}

.title {
    font-family: "totalblack-variable", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.film__content--title {
    margin-bottom: 8px;
    font-weight: 600;
    color: #3A5CAB;
}

.film__content--rating {
    color: #7796E4;
}

.film__content--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}